#box-5 {
    

    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    padding-right: 0;
    border: 3px solid black;
    border-radius: 8px;
    width: 40%;
    background-color: #F8DADA; 
      

    label {
        width: 50%;
        margin-left: 5%;
        text-align: left;
        
        
    }
    
    input {
        transform : scale(1.2);
        
    }

    #followupText{

        margin-top: 5%;
    }
}

@media (max-width: 900px) {

    #box5Header {
        /* margin-left: auto; */
        margin-bottom: 5px;
        margin-left: 25px;
    }

    #box-5 {
        margin-top: 0;
        width: 90%;
    }

    #check1 label {
        width: 65%;
    }

    #check2 label {
        width: 40%;
        margin-bottom: 20px;
    }

}