#box-2 {

    /* display: flex; */
    margin-right: 0px;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    padding-right: 0;
    border: 3px solid black;
    border-radius: 8px;
    width: 40%;
    background-color: #F8DADA; 
      
    
}

#box2Header {
    /* display: block; */

    margin-bottom: 0;
}

@media (max-width: 900px) {

    #box2Header {
        /* margin-left: auto; */
        margin-bottom: 5px;
        margin-left: 25px;
    }

    #box-2 {
        margin-top: 5%;
        width: 90%;
    }

    #box-2 label {
        margin-left: -1%;
        margin-right: 15%;
    }

    #box-2 input  {
        margin-left: 15px;
        width: 50%;
    }

   

}