@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,100;1,9..40,400&display=swap');



*{
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    /* background-color: rgb(241, 241, 240); */
}

header{
    text-align: center;
    
    
    #head1 {
      margin-bottom: 1px;
    }

    #head2 {
      margin-top: 1px;
      margin-bottom: 1px;
    }

    #head3 {
      color: #000;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

}

#row1 {
  display: flex;
  flex-direction: row;
}

#row2 {
  display: flex;
  flex-direction: row;
}

#row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* input{
    border-radius: 5px;
    width: 150px;
}

select {
    border-radius: 5px;
    width: 150px;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 5px;
}

.op {
    border: 1px solid black;
    margin-bottom: 10px;
    /* margin-right: 20px; */
    /* padding: 5px; */
    
/* } */



form {
  width: 80%;
  margin: 0 auto;
}

label,
input, select {
  /* In order to define widths */
  display: inline-block;
  border-radius: 5px;
    
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input+select {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
  
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

input+input {
  float: right;
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin: 5px;
}

select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  width: 200px;
}

input {
  font-size: 20px;
}

@media (max-width: 900px) {
  
  #row1 {
    display: flex;
    flex-direction: column;
    
  }
  
  #row2 {
    display: flex;
    flex-direction: column;
  }
  
  #row3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }  

  

}